
.contacts {
    padding-top: 160px;
}
h5 {
    font-family: 'El Messiri', sans-serif;
    font-weight: 500;
    text-transform: uppercase;
    border-bottom: 1px solid #0188be;
    font-size: 20px;
    line-height: 1.4em;
}
.contacts h2 {
    margin-bottom: 50px;
}

.contacts__about {
    font-size: 20px;
    line-height: 1.4em;
    text-align: center;
    margin-bottom: 100px;
}

.contacts-wrapper {
    display: flex;
    justify-content: space-between;
    gap: 30px;
}
.contacts-info__block {
    max-width: 450px;
}

.contacts-info__block:last-child {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 600px;
}
.contacts-info__title {
    margin-bottom: 30px;
}
.contacts-info__list {
    font-size: 16px;
    line-height: 2;
    margin-bottom: 50px;
    list-style: disc;
    margin-left: 20px;

}

form.contacts-info__block {
    padding: 20px;
    background-color: #93cae0;
    border-radius: 10px;
}

form.contacts-info__block input, textarea {
    margin-bottom: 40px;
    width: 100%;
    height: max-content;
    padding: 5px 10px;
    line-height: 2;

}

#error {
    height: 10px;
    margin-bottom: 20px;
}

.contacts input.check-in-btn {
    font-size: 1em;
    padding: 1em 2em !important;
    margin-bottom: 0;
    background-color: #018ABE;
    color: #ffffff;
    border-radius: 4px;
    transition: all ease-in 0.3s;
}

@media (max-width: 989px) {
    .contacts-info__block {
        max-width: 380px;
    }
}

@media (max-width: 767px) {
    .contacts {
        padding-top: 120px;
    }
    h5 {
        font-size: 18px;
    }
    .contacts h2 {
        margin-bottom: 30px;
    }
    
    .contacts__about {
        font-size: 16px;
        margin-bottom: 50px;
    }
}

