html, body {
    height: 100%;
}

body {
    background-color: #0f2631;
    color: #ffffff;
    font-family: 'Proxima Nova', sans-serif;
    font-size: 16px;
    line-height: 1.4em;
    display: flex;
    flex-direction: column;
}
body._lock {
    overflow: hidden;
}
.main {
    flex: 1 1 auto;
}

h1, h2, h3, h4, h5, h6, .sessions-block__item {
    font-family: 'El Messiri', sans-serif;
}
.header {
    background-color: #0f2631;
    position: fixed;
    width: 100%;
    z-index: 10;
    top: 0;
    left: 0;
}
.container {
    max-width: 1320px;
    padding-right: 30px;
    padding-left: 30px;
    margin: 0 auto;
}
.header-inner {
    padding-top: 30px;
    padding-bottom: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #ffffff9f;
}

.logo {
    width: 60px;
    height: 60px;
    z-index: 5;
}

.burger-menu {
    display: none;
}

.nav ul {
    display: flex;
    justify-content: space-between;
    gap: 10px;
}

.nav ul li a {
    transition: all 0.3s ease-in-out;
    border-bottom: 1px solid #0188be00;
    padding: 5px 20px;

}
.nav ul li a:hover {
    text-shadow: 0px 1px 1px #ffffff;
    border-bottom: 1px solid #0188be;

}
.home {
    padding-top: 160px;

}
.home-block {
    position: relative;
    width: 100%;
    height: 600px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 100px;
    background-color: #1daeec6c;
    border-radius: 10px;

}

.home img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
    border-radius: 10px;

}
.home-subtitle, .home-title {
    max-width: 500px;
    text-align: center;
    line-height: 1.4em;
    font-weight: 700;

}
.home-subtitle {
    font-size: 24px;
    line-height: 2em;
}
.home-title {
    font-size: 64px;
}

.home-subtitle:before {
    content: '';
    display: inline-block;
    width: 28px;
    height: 15px;
    border-radius: 0 50px;
    background-color: #ffffff;
    margin-right: 66px;
}
.home-subtitle:after {
    content: '';
    display: inline-block;
    width: 28px;
    height: 15px;
    border-radius: 50px 0;
    background-color: #ffffff;
    margin-left: 66px;
}

h2 {
    font-size: 42px;
    line-height: 1.4em;
    font-weight: 700;
    text-align: center;


}
h2 a {
    transition: all 0.5s ease-in-out;
    border-bottom: 1px solid #0188be00;

}
h2 a:hover {
    border-bottom: 1px solid #0188be;
}
h2:before {
    content: '';
    display: inline-block;
    width: 28px;
    height: 15px;
    border-radius: 0 50px;
    border-top: 1px solid #ffffff;
    background-color: #018ABE;
    margin-right: 45px;
    margin-bottom: 5px;

}
h2:after {
    content: '';
    display: inline-block;
    width: 28px;
    height: 15px;
    border-radius: 50px 0;
    border-top: 1px solid #ffffff;
    background-color: #018ABE;
    margin-left: 45px;
    margin-bottom: 5px;
}

.sessions {
    padding-top: 50px;
    margin-bottom: 100px;
    height: fit-content;
}
.sessions-title {
    margin-bottom: 100px;
}
.sessions-block {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 416px));
    grid-template-rows: repeat(3, 258px);
    justify-content: center;
    gap: 24px;

}
.sessions-block__item {
    padding: 50px;
    display: flex;
    align-items: flex-end;
    font-size: 24px;
    line-height: 1.4em;
    font-weight: bold;
    position: relative;
    background-color: #1daeec6c;
    border-radius: 10px;
}
.sessions-block__item:first-child {
    grid-row: 1/3;
}

.sessions-block__item img {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    top: 0;
    left: 0;
    z-index: -1;
    border-radius: 10px;
}
.sessions-block__item a {
    transition: all 0.5s ease-in-out;
}
.sessions-block__item a:hover {
    transform: scale(1.1);
}
.reviews {
    padding-top: 50px;
    margin-bottom: 100px;
}
.container-wide {
    max-width: 1500px;
}
.reviews-title {
    margin-bottom: 30px;
}
.slider {
    position: relative;
    margin-bottom: 10px;
    max-width: 100%;
    height: 350px;
    overflow: hidden;
}
.review-slide {
    position:absolute;
    width: 500px;
    height: 275px;
    border-radius: 10px;
    background-color: #018ABE;
    color: #ffffff;
    border: 3px solid #0f2631;
    text-align: center;
    line-height: 1.4em;
    transition: all 0.5s ease;
    padding: 50px;
    cursor: pointer;
    overflow: auto;
}
.review-slide::-webkit-scrollbar {
    width: 0;
}

.review-person-name {
    font-size: 18px;
    margin-bottom: 20px;
    font-weight: bold;
    color: #0f2631;
    text-align: left;
}
.review-text {
    font-size: 14px;
    line-height: 1.4em;
}
.slider-dots {
    display: flex;
    gap: 20px;
    padding: 10px 0;
    justify-content: center;

}
.slider-dot:first-child {
    width: 0;
    height: 0;
    border-top: 16px solid transparent;
    border-right: 50px solid #ffffff;
    border-bottom: 16px solid transparent;
    border-radius: 50%;
    opacity: 0.5;
    transition: all 0.3s ease;
    cursor: pointer;
}
.slider-dot:last-child {
    width: 0;
    height: 0;
    border-top: 16px solid transparent;
    border-left: 50px solid #ffffff;
    border-bottom: 16px solid transparent;
    border-radius: 50%;
    opacity: 0.5;
    transition: all 0.3s ease;
    cursor: pointer;
}
.slider-dot:hover {
    opacity: 1;
}
.about {
    padding-top: 50px;
}
.about-title {
    margin-bottom: 100px;
}

.about-block {
    display: flex;
    max-height: 500px;
    margin-bottom: 100px;
    justify-content: space-between;
    align-items: center;
    flex: 1 1 auto;
}
.about-block:nth-child(even) {
    flex-direction: row-reverse;
}
.about-content__wrapper {
    max-height: 365px;
    padding: 20px;
    overflow: auto;
}
.about-content__wrapper::-webkit-scrollbar {
    width: 0;
}

.about-block img {
    width: 50%;
    height: auto;
    object-fit: cover;
    border-radius: 10px;
}
.about-block__title {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 30px;
}

.about-block__content {
    max-width: 466px;
    font-weight: 300;    
}

.costs {
    padding-top: 50px;
    margin-bottom: 100px;
}

.costs-title {
    margin-bottom: 100px;
}
.costs-block {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 30px;
    flex: 1 1 auto;
}

.costs-block ul {
    font-size: 18px;
    font-weight: 400;

}
.costs-block li + li {
    margin-top: 30px;
}
.costs-block li:before {
    content: '';
    display: inline-block;
    width: 18px;
    height: 10px;
    border-radius: 0px 50px;
    border-top: 1px solid #ffffff;
    background-color: #018ABE;
    margin-right: 20px;
    margin-bottom: 2px;
}
.costs-block li {
    position: relative;
    width: 420px;
}
.costs-block li span {
    margin-left: 30px;
    font-weight: bold;
    text-shadow: 1px 1px 2px #0188be;
    position: absolute;
    right: 0;
}
.costs-block li {
    border-bottom: 1px solid #0188be00;
    transition: all 0.5s ease-in-out;
}
.costs-block li:hover {
    border-bottom: 1px solid #0188be;

}
.costs-sertificate {
    max-width: 526px;

}
.sertificate-img {
    height: auto;
    margin-bottom: 30px;
    border-radius: 10px;
}
.costs-sertificate__name {
    font-weight: bold;
    font-size: 21px;
    text-align: center;

}
.costs-sertificate__name a {
    transition: all 0.5s ease-in-out;

}
.costs-sertificate__name a:hover {
    text-shadow: 5px 5px 10px #0188be;
}
.contacts {
    padding-top: 50px;
    margin-bottom: 50px;
}
.contacts-block {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 30px;
}
.contacts-map {
    width: 800px;
    height: 400px;
    border-radius: 10px;
    overflow: hidden;
}
.contact-info {
    width: 380px;
    height: 400px;
    border-radius: 10px;
    background-color: #018ABE;
    padding: 45px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.address-name {
    font-family: 'El Messiri', serif;
    font-size: 26px;
    line-height: 1.4em;
    margin-bottom: 10px;
}
.contact-adress__wrapper{
    height: max-content;
    line-height: 3em;
}
.street-address::before, .city-name::before {
    content: '';
    display: inline-block;
    background-image: url(.././img/address_ico.svg);
    background-position: bottom;
    width: 14px;
    height: 18px;
    margin-right: 23px;
}

.contact-phone::before {
    content: '';
    display: inline-block;
    background-image: url(../img/tel.png);
    background-position: bottom;
    width: 20px;
    height: 20px;
    background-size: cover;
    margin-right: 18px;
}

.appoint-record::before {
    content: '';
    display: inline-block;
    background-image: url(.././img/checkin_ico.svg);
    width: 20px;
    height: 20px;
    margin-right: 18px;
}

.contacts-block a.check-in-btn {
    width: fit-content;
    color: #0188be !important;
    background-color: #ffffff !important;
}

.footer {
    background-color: #ffffff;
}
.footer-wrapper {
    background-color: #ffffff;
    color: #0f2631;
    font-size: 12px;
    padding: 30px 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.footer-wrapper .logo {
    background-color: #0188be;
    border-radius: 5px;
    width: 40px;
    height: 40px;
    padding: 5px;
}


/*..................................*/
/* body._touch .nav ul li {
    flex: 1 1 auto;
} */
/*..................................*/


/* ------------burger-menu-------------- */
@media (max-width: 767px) {
    .burger-menu {
        display: block;
        position: relative;
        z-index: 5;
        width: 30px;
        height: 30px;
        cursor: pointer;
        order: 1;
    }

    .burger-menu span,
    .burger-menu::before,
    .burger-menu:after {
        left: 0;
        position: absolute;
        height: 25%;
        width: 100%;
        border-radius: 50%;
        transition: all 0.3s ease-in;
        background-color: #018ABE;
        border-top: 1px solid #ffffff;

    }
    .burger-menu::before,
    .burger-menu:after {
        content: '';
    }
    .burger-menu::before {
        top: 0;
    }
    .burger-menu:after {
        bottom: 0;
    }
    .burger-menu span {
        top: calc(50% - 25%/2);
        transform: scale(1);
    }

    .burger-menu._active span {
        transform: scale(0);

    }
    .burger-menu._active:before {
        top: calc(50% - 25%/2);
        transform: rotate(-45deg);

    }
    .burger-menu._active:after {
        bottom: calc(50% - 25%/2);
        transform: rotate(45deg);

    }
    .nav {
        position: fixed;
        top: 0;
        left: -100%;
        width: 100%;
        height: 100%;
        background-color: #0f3120d2;
        padding: 150px 30px 30px 30px;
        transition: all 0.3s ease 0s;
        overflow: auto;
    }

    .nav._active {
        left: 0;
    }
    .nav ul {
        flex-direction: column;
        font-size: 24px;
    }
    .nav ul li + li {
        margin: 30px 0px 0px 0px;

    }
    .nav::before {
        content: '';
        width: 100%;
        height: 100px;
        z-index: 2;
        background-color: #0f2631;
        position: fixed;
        top: 0;
        left: 0;
    }
}

/* -------------end of burger menu-------------------------- */
/*---------------pop-up--------------------------*/
.pop-up {
    width: 100%;
    height: 100%;
    position: fixed;
    left: 0;
    top: 0;
    background-color: transparent;
    color: #0f2631;
    z-index: 30;
    transform: translateY(-50%) scale(0);
    transition: all .5s ease-in-out 0.5s;
}

.pop-up.active {
    transform: translateY(0%) scale(1);
    background-color: rgba(6, 98, 104, 0.829);

}
.pop-up__container {
    display: flex;
    width: 100%;
    height: 100%;
}

.pop-up__body {
    margin: auto;
    max-width: 400px;
    background-color: #ffffffb6;
    border-radius: 10px;
    text-align: center;
    padding: 50px 20px 30px 20px;
    position: relative;
}
.pop-up__body h3 {
    font-size: 30px;
    margin-bottom: 30px;
}
.pop-up__body form {
    display: flex;
    flex-direction: column;
}
.pop-up__body form input,
.pop-up__body form select {
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
}
.pop-up__body form select option {
    overflow: hidden;
}
.pop-up__body form input:not(:last-child),
.pop-up__body form select {
    margin-bottom: 30px;
}
.pop-up__body .check-in-btn {
    font-size: 1em;
    padding: 1em 2em;
    background-color: #018ABE;
    color: #ffffff;
    border-radius: 5px;
    border: none;
    transition: transform ease-in 0.1s, box-shadow ease-in 0.2s;
}
#pop-up-error {
    height: 20px;
    margin-bottom: 20px;
    color: rgb(187, 3, 3);
}

.pop-up__close {
    position: absolute;
    top: 20px;
    right: 20px;
    font-size: 30px;
    color: #0f2631;
    cursor: pointer;
}
/*--------end of pop-up-------------------*/

@media (max-width: 1280px) {
    
    .home-block {
        height: 550px;
        margin-bottom: 70px;
    }
    h2 {
        font-size: 40px; 
    }
    .sessions {
        padding-top: 40px;
        margin-bottom: 70px;
    }
    .contacts-map {
        width: 700px;
    }

}
@media (max-width: 1169px) {
    .contacts-map {
        width: 600px;
    }
}
@media (max-width: 1069px) {
    .contacts-map {
        width: 550px;
    }
}


@media (max-width: 1023px) {
    body {
        font-size: 14px;
    }

    .header-inner {
        padding-top: 20px;
        padding-bottom: 20px;
    }
    .nav ul li a {
        padding: 5px 10px;
    }
    .home {
        padding-top: 120px;
    }
    .home-block {
        height: 500px;
        margin-bottom: 50px;
    }
    .home-subtitle {
        font-size: 20px;
    }
    .home-title {
        font-size: 50px;
    }
    
    .home-subtitle:before {
        margin-right: 50px;
    }
    .home-subtitle:after {
        margin-left: 50px;
    }

    h2 {
        font-size: 36px; 
    }
  
    h2:before {
        margin-right: 40px;
    }
    h2:after {
        margin-left: 40px;
    }

    .sessions {
        padding-top: 30px;
        margin-bottom: 50px;
    }
    .sessions-title {
        margin-bottom: 50px;
    }
    .sessions-block {
        grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));  
    }
    .sessions-block__item {
        font-size: 22px;
    }
    .reviews {
        padding-top: 30px;
        margin-bottom: 50px;
    }
  
    .slider {
        gap: 20px;
    }

    .review-slide {
        padding: 30px;
        width: 400px;
    }
    .about {
        padding-top: 30px;
    }
    .about-title {
        margin-bottom: 50px;
    }
    .about-block {
        margin-bottom: 60px;
    }
    .about-content__wrapper {
        max-height: 300px;
    }
    .about-block__title {
        font-size: 22px;
    }
    
    .costs {
        padding-top: 30px;
        margin-bottom: 50px;
    }
    
    .costs-title {
        margin-bottom: 50px;
    }
    
    .costs-block li {
        width: 400px;
    }
    .contacts {
        padding-top: 30px;
    }
    .contacts-map {
        width: 500px;
        height: 350px;
    }
    .contact-info {
        height: 350px;
        padding: 35px;
    }
}
@media (max-width: 969px) {
    .nav ul li a {
        padding: 5px 5px;
    }

    .costs-block li + li {
        margin-top: 20px;
    }

    .contacts-map {
        width: 100%;
        height: 200px;
    }
    .contact-info {
        width: 100%;
        height: 150px;
        padding: 30px;
        flex-direction: row;
        align-items: center;
     }
     .address-name {
        font-size: 20px;
        margin-bottom: 0px;
        height: 100%;
        width: 100px;
    }
    .contact-adress__wrapper{
        height: max-content;
        font-size: 16px;
        line-height: 1.5em;
    }
    
}
@media (max-width: 767px) {
    .container {
        padding-left: 15px;
        padding-right: 15px;
    }
    .header-inner {
        border-bottom: none;
    }
    .home {
        padding-top: 100px;
    }
    .home-block {
        height: 300px;
        margin-bottom: 30px;
        padding: 15px;
        background: #0e3447;
        background: -moz-linear-gradient(0deg, #0c3749 0%, #136388 33%, #0ebafd 100%);
        background: -webkit-linear-gradient(0deg, #0c3749 0%, #136388 33%, #0ebafd 100%);
        background: -o-linear-gradient(0deg, #0c3749 0%, #136388 33%, #0ebafd 100%);
        background: linear-gradient(0deg, #0c3749 0%, #136388 33%, #0ebafd 100%);
        background: -ms-linear-gradient(0deg, #0c3749 0%, #136388 33%, #0ebafd 100%);
    }
    .home-block img {
        display: none;
    }
    .home-subtitle {
        margin-bottom: 30px;    
    }
    .home-title {
        font-size: 48px;
    }
    
    .home-subtitle:before {
        margin-right: 30px;
    }
    .home-subtitle:after {
        margin-left: 30px;
    }

    h2 {
        font-size: 32px; 
    }
  
    h2:before {
        margin-right: 30px;
    }
    h2:after {
        margin-left: 30px;
    }

    .sessions {
        margin-bottom: 40px;
    }
    
    .reviews {
        margin-bottom: 30px;
    }
    
    .slider {
        height: 250px;
        margin-bottom: 20px;

    }
    .review-slide {
        height: 100%;
        padding: 15px;
    }
    .about {
        padding-top: 30px;
    }
    
        
    .costs {
        margin-bottom: 30px;
    }
    
    .costs-title {
        margin-bottom: 30px;
    }
    
    .costs-block li {
        width: 350px;
    }
    
    .contact-info {
        padding: 25px;
     }
     
    .contact-adress__wrapper{
        font-size: 14px;
    }
}

@media (max-width: 613px) {
    .sessions-block {
        grid-template-rows: repeat(5, 170px);    
    }
    
    .sessions-block__item:first-child {
        grid-row: 1/2;
    }
    .about-block img {
        display: none;
    }
    .about-block {
        border: 1px solid #0188be;
        border-radius: 10px;
        margin-bottom: 30px;
    }
    .about-block__content {
        max-width: 100%;
    }
    .about-content__wrapper {
        max-height: 220px;
    }

    .about-block:nth-child(even) {
        flex-direction: row;
    }
    .costs-block ul {
        font-size: 16px;
    }
    .costs-block li {
        width: 280px;
    }
    .costs-block li:before {
        content: none;
    }

    .contact-info .check-in-btn {
        display: none;
    }
    .address-name {
        width: max-content;
    }
}

@media (max-width: 460px) {
    .home-block {
        height: 300px;
    }
    .home-subtitle {
        font-size: 20px;
    }

    .home-title {
        font-size: 42px;
    }
    .sessions-title {
        margin-bottom: 30px;
    }
    h2 {
        font-size: 28px;
        text-shadow: 
		-0   -1px 1px #0188BE,
		 0   -1px 1px #0188BE,
		-0    1px 1px #0188BE,
		 0    1px 1px #0188BE,
		-1px -0   1px #0188BE,
		 1px -0   1px #0188BE,
		-1px  0   1px #0188BE,
		 1px  0   1px #0188BE,
		-1px -1px 1px #0188BE,
		 1px -1px 1px #0188BE,
		-1px  1px 1px #0188BE,
		 1px  1px 1px #0188BE,
		-1px -1px 1px #0188BE,
		 1px -1px 1px #0188BE,
		-1px  1px 1px #0188BE,
		 1px  1px 1px #0188BE;
    }
    
    h2::before,
    h2::after,
    .home-subtitle::before,
    .home-subtitle::after {
        content: none;
    }

    .reviews-title {
        margin-bottom: 0px;
    }
    .review-slide {
        width: 300px;
    }

    .costs-block {
        flex-wrap: wrap;
        justify-content: center;
    }
    .costs-sertificate {
        max-width: 250px;
    }
    
    .contact-info {
        flex-direction: column;
        padding: 10px;
        height: 160px;
    }
    

}

@media (max-width: 374px) {
    .sessions-block__item {
        padding: 10px 15px 30px;
    }
    .pop-up__body {
        border-radius: 0px;
    }
    .pop-up__body h3 {
        font-size: 24px;
    }
    .pop-up__body form input,
    .pop-up__body form select {
        max-width: 280px;
        
    }
}